@import "./letter.scss";
@mixin envelope-style {
    .envlope-wrapper {
        height: 270px;
        @include letter-styles();

        &.open {
            // @include free-fall();
            .envelope {
                .front {
                    &.flap {
                        animation: rotate 1s linear 0s 1 forwards;
                    }
                }
            }
            .letter {
                @include go-up;
            }
        }
        &.falling {
            .envelope {
                @include free-fall();
            }
        }
        .envelope {
            position: relative;
            width: $env-width;
            height: $env-height;
            border-bottom-left-radius: $env-border-radius;
            border-bottom-right-radius: $env-border-radius;
            margin-left: auto;
            margin-right: auto;
            top: 90px;
            .front {
                position: absolute;
                width: 0;
                height: 0;
                &.flap {
                    border-left: ($env-width / 2) solid transparent;
                    border-right: ($env-width / 2) solid transparent;
                    border-bottom: ($env-height / 2) - 8 solid transparent; /* a little smaller */
                    border-top: ($env-height / 2) + 8 solid $color-flap; /* a little larger */
                    transform-origin: top;
                    z-index: 5;
                    pointer-events: none;
                }
                &.pocket {
                    border-left: ($env-width / 2) solid $color-env;
                    border-right: ($env-width / 2) solid $color-env;
                    border-bottom: ($env-height / 2) solid $color-env2;
                    border-top: ($env-height / 2) solid transparent;
                    border-bottom-left-radius: $env-border-radius;
                    z-index: 4;
                    border-bottom-right-radius: $env-border-radius;
                }
            }
            .back {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
                background-color: $color-flap;
            }
        }
    }
}
