$color-flap: darken(#fdc14b, 8%);
$color-env: lighten($color-flap, 15%);
$color-env2: darken($color-env, 6%);
$color-bg: rgb(50, 50, 50);
$color-pen: rgb(68, 64, 83);
$color-box-shadow: lighten($color-bg, 10%);
$card-color: #fff4ce;
// $card-face-bg: linear-gradient(to left, $card-color 50%, #d4c89a);
$card-face-bg: linear-gradient(to left, #fff4ce 50%, #d2be78);
