$color-flap: #fdc14b;
$color-env: lighten($color-flap, 15%);
$color-env2: darken($color-env, 6%);
$color-bg: lighten($color-env, 15%);
$color-pen: rgb(68, 64, 83);
$color-box-shadow: darken(white, 25%);