$color-flap: darken(#fdc14b, 8%);
$color-env: lighten($color-flap, 15%);
$color-env2: darken($color-env, 6%);
$color-bg: #2a240a;
$color-pen: rgb(68, 64, 83);
$color-box-shadow: lighten($color-bg, 10%);
$card-face-bg: linear-gradient(to left, #fff4ce 50%, #d4c89a);
