@mixin rotate-flap {
    animation: rotate 1s linear 0s 1 forwards;
}

@mixin free-fall {
    animation: free-fall 1s linear 0s 1 forwards;
}

@mixin go-up-scale4 {
    animation: go-up-scale4 2s linear 1s 1 forwards;
}
@mixin go-up-scale6 {
    animation: go-up-scale6 2s linear 1s 1 forwards;
}
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flip-card {
    animation: flip-card 1s linear 3s 1 forwards;
}

@mixin flip-card-reverse {
    animation: flip-card-reverse 1s linear 3s 1 forwards;
}
@mixin  show-content {
    animation: show-content 0.3s linear 4s 1 forwards;
}