@mixin rotate-flap-and-fall {
    animation: rotate-flap-and-fall 2s linear 0s 1 forwards;
}
@mixin free-fall {
    animation: free-fall 1s linear 1s 1 forwards;
}
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}