@import './components/components.scss';
body {
    background-color: $color-bg;
    .app {
      text-align: center;
      @include envelope-style();
      height: 100vh;
      width: 100vw;
      overflow: hidden;
    }
}